.content {
    position: relative;
}

.searchbar {
    position: relative;
    width: 50vw;
    height: 3rem;
    margin: 2rem 1rem;
    
    input {
        height: 3rem;
        width: 100%;
        border-radius: 2rem;
        outline: none;
        border: 1px solid var(--color-gray);
        padding: 0 3rem;
        font-size: 1.3rem;
        color: var(--color-gray);
    }

    img {
        position: absolute;
        width: 2rem;
        top: .5rem;
        left: .5rem;
    }
}

.filter {
    width: 90vw;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    
    #btn {
        background-color: var(--color-primary);
        width: 30%;
        // border-radius: 2rem;
        display: grid;
        place-items: center;
        border: 1px solid var(--color-border);
        cursor: pointer;
        transition: all .3s ease-in-out;

        &:hover {
            transform: scale(1.01);
        }

        p {
            color: var(--color-light);
            text-transform: uppercase;
        }
    }
}

.container {
    width: 100%;
    max-height: 80vh;
    overflow-y: auto;
    margin: 1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.cards {
    position: relative;
    width: 13vw;
    height: 30vh;
    margin: 2rem 1rem 0 1rem;
    cursor: pointer;
    transition: all .3s ease-in-out;
    border: 1px solid transparent;
    
    &:hover {
        transform: scale(1.02);
        border: 1px solid #1181851a;

        img {
            transform: rotate(360deg);
        }
    }

    p {
        color: var(--color-primary);
        margin: .5rem 1rem;
    }

    .pp {
        width: 100%;
        height: 70%;
    }

    .details {
        width: 100%;
        height: 30%;
        display: flex;
        justify-content: center;

        .name {
            height: 100%;
            display: flex;
            align-items: center;

            p::first-letter {
                text-transform: uppercase;
            }

            img {
                width: 2rem;
                transition: all .5s ease-in-out;
                
            }
        }

        .number {
            position: absolute;
            height: 100%;
            display: flex;
            top: 0;
            right: 0;
        }
    }
}

.popup {
    position: absolute;
    background: rgb(208,247,163);
    background: linear-gradient(180deg, rgba(208,247,163,1) 0%, rgba(205,247,235,1) 58%);
    opacity: .98;
    width: 100vw;
    height: 100vh;
    top: -1.9em;
    z-index: 999;
    display: grid;
    place-items: center;

    .popup-content {
        position: relative;
        background-color: var(--color-primary);
        height: 80%;
        width: 60%;
        border-radius: 2rem;
        padding: 2rem;
        display: flex;
        color: var(--color-light);
        
        h2, span, p {
        color: var(--color-light);
        }
        
        span {
            position: absolute;
            cursor: pointer;
            right: 2rem;
            top: 1.5rem;
        }

        .popup-left {
            height: 100%;
            width: 50%;

            .popup-image {
                position: relative;
                height: 50%;
                width: 100%;

                img {
                    position: absolute;
                    top: -1rem;
                }
            }

            .stats-popup {
                height: 50%;
                width: 100%;
                display: flex;
                flex-direction: column;
                padding: 1rem 1rem 0 1rem;

                .row {
                    width: 100%;
                    height: 15%;
                    margin-bottom: 1rem;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    #bar-stats {
                        width: 65%;
                        height: 80%;
                    }

                    .text-stats {
                        width: 15%;
                    }
                }
            }
        }

        .popup-details {
            height: 100%;
            width: 50%;
            padding: 2rem 1rem;

            .popup-name {
                width: 100%;
                display: flex;
                justify-content: center;
                margin-bottom: 2rem;

                h2::first-letter {
                    text-transform: uppercase;
                }
            }

            .popup-types {
                width: 100%;
                height: 7%;
                display: flex;
                justify-content: space-evenly;
                margin-bottom: 2rem;

                #type {
                    position: relative;
                    height: 100%;
                    width: 40%;
                    display: grid;
                    place-items: center;
                    border-radius: 2rem;

                    p{
                        margin-left: 1rem;
                        
                        &::first-letter {
                            text-transform: uppercase;
                        }
                        
                    } 

                    img {
                        position: absolute;
                        left: .2rem;
                        width: 2.5rem;
                    }
                }
            }

            .popup-description {
                width: 100%;
                height: 50%;
                margin: 0 0 2rem 2rem;
            }

            .popup-attacks {
                width: 100%;
                height: 25%;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                margin-left: 1rem;

                .attacks {
                    width: 45%;
                    height: 40%;
                    margin-right: 1rem;
                    display: grid;
                    place-items: center;
                    border: 2px solid var(--color-border);
                }
            }
        }
    }
}