body {
  height: 100vh;
  width: 100vw;
  background: rgb(208,247,163);
  background: linear-gradient(180deg, rgba(208,247,163,1) 0%, rgba(205,247,235,1) 58%);
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

:root {
  --color-primary: #14A4A8;
  --color-secondary: #28A76A;
  --color-light: #F7FBF6;
  --color-gray: #F7FBF6;
}